{% extends "base.html" %}

{% block content %}
<main>
    <section class="contact-section">
        <div class="contact-container2">
            <p class="about-description">
                <strong>Nyekit, an artist statement:</strong><br><br>
                My artwork serves as a journal of my experiences and reflections, aiming to establish an intimate connection with viewers. Amid the war in my homeland, Ukraine, I explore its impact on individuals, delving into themes of alienation, patriotism, nostalgia, survivor's guilt, and PTSD.<br><br>
                Drawing inspiration from J.M.W. Turner's belief that “painting and poetry reflect each other's beauty,” my art, exemplified in pieces like <em>'Somehow'</em> and <em>'A Conversation'</em>, integrates poetry physically into my work as a foundational layer. Utilizing verses from poets such as S. Sassoon or R. Brooke, key words from their poetry guide the viewer's gaze through the drawing, encouraging reflection on nuanced concepts like “peace.”<br><br>
                Influenced by André Mason's “automatic drawings,” I allow my subconscious to flow freely into my work. Rarely sketching beforehand, even in life-size, my large-scale pieces maintain a sketch-like quality, establishing intimate connections with my genuine emotional state and with the viewer. Purposefully unfinished parts or mistakes, akin to W. Kentridge's approach, reveal the complete creation process, fostering a genuine connection with the viewer. Stylistically, I draw inspiration from Vienna Secession artists, particularly Schiele's bold figures and Kokoshka's post-war portraiture.<br><br>
                Coincidentally or not, much of my work has unfolded under the rhythm of falling rain. Perhaps it is those same raindrops that stir memories of times in my life that have sculpted my journey up until now and inspire me to put them onto paper.<br><br>

                <strong>Previous art shows:</strong> <br>
                (Overall raising over 30 thousand dollars with art in aid of humanitarian causes) <br><br>

                <strong>March 2024:</strong> Exhibition in the OXO Tower, London, with a focus on how war impacts the thought process of a high school student.<br><br>

                <strong>June 2023:</strong> Artist and Curator, Sevenoaks Welcomes Refugees Campaign, Sevenoaks (c/o Vine Evangelical Church)<br>
                - Invited by Sevenoaks’ mayor to contribute artwork for a joint-city fundraiser; 1000+ visitors<br>
                - Featured 12 artworks; $1k+ proceeds allocated in support of Syrian and Ukrainian refugees<br><br>

                <strong>May 6, 2023:</strong> Artist, Initiator, and Curator, Ukrainian Civil Society Hub, Brussels, Belgium<br>
                - Requested the Embassy of Ukraine to the EU to hold an art exhibition for Europe Day; 300+ visitors, including EU Parliament members<br>
                - Created and donated 15 original artworks: digital paintings, etchings, ink drawings<br>
                - Event covered by the media<br><br>

                <strong>November 2022:</strong> Artist, Curator, Organizer: Fundraising Art Exhibition, Sevenoaks School<br>
                - Initiated the school’s biggest solo art fundraiser; created 23 original pieces in 2 months<br>
                - Secured Nobel Peace Prize laureate, Dmitry Muratov, to give the opening speech for 1000+ attendees<br>
                - Raised $17k for Ukraine from 450+ donors, online and in person<br>
            </p>
        </div>
    </section>
    <br><br><br><br>
</main>
<script>
    let lastScrollY = window.pageYOffset;

window.addEventListener('scroll', () => {
  const header = document.getElementById('header');
  const currentScrollY = window.pageYOffset;

  // If scrolling down and past a 50px threshold, hide the header
  if (currentScrollY > lastScrollY && currentScrollY > 100) {
    header.classList.add('header-hidden');
  } else {
    // If scrolling up, show the header
    header.classList.remove('header-hidden');
  }

  // Update last scroll position
  lastScrollY = currentScrollY;
});
</script>
{% endblock %}
