<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% block title %}Nikita{% endblock %}</title>

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}">

    <!-- CSS and Fonts -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="static/script.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
</head>

<body>
    <header id="header" class="header">
        <div class="header-container">
            <a href="/" class="logo">NYEKIT</a>
            <nav>
                <ul>
                    <li><a href="/selectedworks" class="{% if request.path == '/selectedworks' %}active{% endif %}">selected works</a></li>
                    <li><a href="/sketches" class="{% if request.path == '/sketches' %}active{% endif %}">sketches</a></li>
                    <li><a href="/about" class="{% if request.path == '/about' %}active{% endif %}">about</a></li>
                    <li><a href="/contact" class="{% if request.path == '/contact' %}active{% endif %}">contact</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>COPYRIGHT &copy; NIKITA IVANIUTA</p>
    </footer>
</body>

</html>
