{% extends "base.html" %}

{% block content %}
<main>
    <section class="contact-section">
        <div class="contact-container">
            <p class="representation">Nikita Ivaniuta</p><br>
            <address class="gallery-info">
                857-829-1881<br><br>
                <a href="mailto:nyekittt@gmail.com">nyekittt@gmail.com</a>
            </address>
            <p class="representation2">Instagram: @Nyekittt</p><br>
        </div>
    </section>
    <br>
    <br>
    <br>
    <br>
</main>
{% endblock %}
